/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * Version : 2023
 * Author  : Tom Papatolis
 * ◌⎯⎯⎯⎯⎯⎯◖ Spacing ◗⎯⎯⎯⎯⎯⎯◌
 */

@use 'sass:map';
@use '../abstracts/sizes' as s;
@use '../abstracts/mixins' as m;

/**
 * Margins & Paddings
 */

@for $i from 0 through 14 {
    .mt-#{$i} {
        margin-top: $i + rem !important;
	}
    .mr-#{$i} {
        margin-right: $i + rem !important;
    }
	.mb-#{$i} {
        margin-bottom: $i + rem !important;
	}
	.ml-#{$i} {
        margin-left: $i + rem !important;
	}
    .m-#{$i} {
        margin: $i + rem !important;
    }
	.pt-#{$i} {
        padding-top: $i + rem !important;
	}
    .pr-#{$i} {
        padding-right: $i + rem !important;
    }
	.pb-#{$i} {
        padding-bottom: $i + rem !important;
	}
	.pl-#{$i} {
        padding-left: $i + rem !important;
	}
    .p-#{$i} {
        padding: $i + rem !important;
    }
}

@each $size, $value in s.$mp_special_sizes {
    .mt-#{$size} {
        margin-top: $value + rem !important;
    }
    .mr-#{$size} {
        margin-right: $value + rem !important;
    }
    .mb-#{$size} {
        margin-bottom: $value + rem !important;
    }
    .ml-#{$size} {
        margin-left: $value + rem !important;
    }
    .m-#{$size} {
        margin: $value + rem !important;
    }
    .pt-#{$size} {
        padding-top: $value + rem !important;
    }
    .pr-#{$size} {
        padding-right: $value + rem !important;
    }
    .pb-#{$size} {
        padding-bottom: $value + rem !important;
    }
    .pl-#{$size} {
        padding-left: $value + rem !important;
    }
    .p-#{$size} {
        padding: $value + rem !important;
    }
}

@include m.mq(small) {
    @for $i from 1 through 5 {
        .mt-sm-#{$i} {
            margin-top: $i + rem !important;
        }

        .mb-sm-#{$i} {
            margin-bottom: $i + rem !important;
        }

        .pt-sm-#{$i} {
            padding-top: $i + rem !important;
        }

        .pb-sm-#{$i} {
            padding-bottom: $i + rem !important;
        }

        .pl-sm-#{$i} {
            padding-left: $i + rem !important;
        }

        .pr-sm-#{$i} {
            padding-right: $i + rem !important;
        }

        .m-sm-#{$i} {
            margin: $i + rem !important;
        }

        .p-sm-#{$i} {
            padding: $i + rem !important;
        }
    }
}
