/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * Version : 2023
 * Author  : Tom Papatolis
 * ◌⎯⎯⎯⎯⎯⎯◖ Alerts ◗⎯⎯⎯⎯⎯⎯◌
 */
@use '../abstracts/mixins' as m;

.alert {
    display: flex;
    overflow: hidden;
    border-radius: .5rem;
    border: 1px solid var(--color-700);

    &__icon {
        display: flex;
        align-items: center;
        padding: .5rem 1rem;
    }

    &__icon .svg-icon {
        width: 1.75em;
        height: 1.75em;
        color: var(--color-300);
    }

    &__body {
        padding: .75rem 1rem;
        font-size: var(--fs-200);
        line-height: 1.25;
        color: var(--color-300);
    }

    &__body:has(>p:only-child) {
        display: flex;
        align-items: center;
    }

    &__body p {
        font-size: var(--fs-200);
        margin-bottom: .5rem;
        line-height: 1.25;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &--right {
        margin-left: auto;
    }

    &--info .alert__icon {
        background: var(--color-blue-800);
        .svg-icon {
            color: var(--color-blue-100);
        }
    }

    &--success .alert__icon {
        background: var(--color-green-600);
        .svg-icon {
            color: var(--color-green-200);
        }
    }

    &--error .alert__icon {
        background: var(--color-red-500);
        .svg-icon {
            color: var(--color-red-100);
        }
    }
 }