/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Badges ] ⎯⎯⎯⎯⎯⎯
 */

@use '../abstracts/mixins' as m;

.badge {
    font-size: var(--fs-100);
    font-family: var(--ff-heading);
    padding: .25rem .5rem;
    line-height: inherit;
    border-radius: 58% 42% 70% 30% / 39% 30% 70% 61%;

    &--lg {
        font-size: var(--fs-300);
        padding: .375rem 1.25rem;
    }
}