/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Buttons ] ⎯⎯⎯⎯⎯⎯
 */

@use '../abstracts/mixins' as m;
@use '../abstracts/colors' as c;

/**
 * Global Settings
 */

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: var(--color-100);
    background: var(--color-700);
    user-select: none;
    border: none;
    padding: .5rem 1rem;
    font-size: var(--fs-400);
    line-height: 1.25;
    border: none;
    outline: none;
    border-radius: .25rem;
    cursor: pointer;
}

a.btn {
    text-decoration: none;
}

.btn:focus,
a.btn:focus {
    outline: none;
}

/**
 * Modifiers
 */

.btn {
    &-shadow {
        box-shadow: var(--shadow);
    }
    &-noshadow {
        box-shadow: none !important;
    }
    &-square {
        border-radius: 0 !important;
    }
    &-tiny {
        line-height: 1;
        font-size: var(--fs-100);
        padding: .375rem .65rem;
    }
    &-small {
        line-height: 1;
        font-size: var(--fs-300);
        padding: .5rem .75rem;
    }
    &-large {
        font-size: var(--fs-500);
        padding: .75rem 1.25rem;
    }
    &-narrow {
        padding: 0 .65rem;
    }
    &-round {
        width: 3rem;
        height: 3rem;
        padding: 0;
        border-radius: 50%;
        line-height: 1;
        .svg-icon {
            transform: translateY(-.1rem);
        }
    }

    &-svg {
        padding: .5rem;
        aspect-ratio: 1;
        border-radius: .25rem;
    }
}

/**
 * Disabled Button
 */

.btn.disabled,
a.btn.disabled {
    opacity: 0.65;
    pointer-events: none;
}

/**
 * Colors
 */

@each $key, $color, $hover_bg, $hover_color in c.$gray_buttons {
    .btn-#{$key}, a.btn-#{$key} {
        background: var(--color-#{$key});
        color: var(--color-#{$color});

        &:hover, &:focus, &:active, &.active {
            background: var(--color-#{$hover_bg});
            color: var(--color-#{$hover_color});
        }
    }
}

@each $key, $color, $hover_bg, $hover_color in c.$red_buttons {
    .btn-red-#{$key}, a.btn-red-#{$key} {
        background: var(--color-red-#{$key});
        color: var(--color-red-#{$color});

        &:hover, &:focus, &:active, &.active {
            background: var(--color-red-#{$hover_bg});
            color: var(--color-red-#{$hover_color});
        }
    }
}

@each $key, $color, $hover_bg, $hover_color in c.$orange_buttons {
    .btn-orange-#{$key}, a.btn-orange-#{$key} {
        background: var(--color-orange-#{$key});
        color: var(--color-orange-#{$color});

        &:hover, &:focus, &:active, &.active {
            background: var(--color-orange-#{$hover_bg});
            color: var(--color-orange-#{$hover_color});
        }
    }
}

@each $key, $color, $hover_bg, $hover_color in c.$green_buttons {
    .btn-green-#{$key}, a.btn-green-#{$key} {
        background: var(--color-green-#{$key});
        color: var(--color-green-#{$color});

        &:hover, &:focus, &:active, &.active {
            background: var(--color-green-#{$hover_bg});
            color: var(--color-green-#{$hover_color});
        }
    }
}

@each $key, $color, $hover_bg, $hover_color in c.$blue_buttons {
    .btn-blue-#{$key}, a.btn-blue-#{$key} {
        background: var(--color-blue-#{$key});
        color: var(--color-blue-#{$color});

        &:hover, &:focus, &:active, &.active {
            background: var(--color-blue-#{$hover_bg});
            color: var(--color-blue-#{$hover_color});
        }
    }
}

/**
 * Buttons with Icons
 */

// Vertical

.btn-icon {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    align-items: center;
    justify-items:center;
    padding: .75rem .5rem;
    border-radius: .5rem;
    border-bottom: .2rem solid rgba(0,0,0,.45);
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    font-family: var(--ff-heading);

    &.active {
        border-color: var(--color-blue-500);
    }

    .svg-icon {
        width: 2.25rem;
        height: 2.25rem;
    }

    span {
        flex:1;
        line-height: 1.15;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: var(--fs-200);
    }
}

/**
 * Split Buttons
 */

.btn-split {
    display: flex;
    padding: 0;
    margin: 0;
    line-height: 1;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    font-family: var(--ff-heading);

    span {
        display: flex;
        align-items: center;
        padding: .65rem 1rem;
        border-left: 1px solid rgba(0,0,0,.25);
        flex: 1;
    }

    .svg-icon {
        width:  1.375em;
        height: 1.375em;
        margin: 0 .5rem;
    }
}

.btn-split.btn-split-right {
    span {
        border-right: 1px solid rgba(0,0,0,.25);
        border-left: none;
    }
}

.btn-split.btn-small {
    span {
        padding: .5rem .75rem;
    }
    .svg-icon {
        width:  1.375em;
        height: 1.375em;
        margin: 0 .5rem;
    }
}

.btn-split.btn-large {
    span {
        padding: 1rem 1.375rem;
    }
    .svg-icon {
        width:  1.5em;
        height: 1.5em;
        margin: 0 1rem;
    }
}

@include m.mq(large) {
    .btn-split {
        box-shadow: none;
    }
}

/**
 * Buttons with Counter
 */

.btn-cnt {
    display: flex;
    padding: 0;
    margin: 0;
    line-height: 1;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    font-family: var(--ff-heading);
    font-weight: 400;

    &__title {
        display: flex;
        align-items: center;
        gap: .25rem;
        padding: .65rem 1rem;
        border-right: 1px solid rgba(0,0,0,.25);
        flex: 1;
        line-height: 1.25;
    }

    &:not(:has(> .btn-cnt__cnt)) {
        border-left: 8px solid rgba(0,0,0,.15);
    }

    &__title:not(:has(~ .btn-cnt__cnt)) {
        border-right: none;
    }

    &__cnt {
        min-width: 0;
        display: flex;
        align-items:center;
        justify-content:center;
        padding: .65rem 1rem;
        font-family: var(--ff-heading);
    }

    &.active {
        box-shadow: var(--shadow-focus);
    }

    &--pill {
        border-radius: 9999px;
        box-shadow: inset 25px 0px 25px -25px rgba(0,0,0,0.15), var(--shadow);
    }

    &--pill:hover {
        border-left-color: var(--color-red-300);
        box-shadow: inset 0  25px 25px -25px rgba(0,0,0,0.45), inset 25px 0px 25px -25px rgba(0,0,0,0.15), var(--shadow);
    }

    &--pill &__cnt {
        padding: .65rem 1.75rem .65rem 1.5rem;
    }

    &--pill &__title:has(~ .btn-cnt__cnt) {
        padding: .65rem .5rem .65rem 1.25rem;
    }
}

/**
 * Blob
 */

.btn-blob {
    padding: 1rem 1.25rem 1.1rem 1.1rem;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);

    @media(max-width: 750px) {
        box-shadow: none;
    }
}

/**
 * Button Bubble
 */

.btn-bubble {
    padding: 0;
    line-height: 1;
    width:  calc(6rem + 1vw);
    height: calc(6rem + 1vw);
    border-radius: 50%;
    font-family: var(--ff-heading);
}