/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Cards ] ⎯⎯⎯⎯⎯⎯
 */

@use '../abstracts/mixins' as m;

.card {
	text-decoration: none !important;
	background: var(--color-800);
    border-radius: .5rem;
	position: relative;
	color: var(--color-100);
	overflow: hidden;
	display: flex;
	flex-direction:column;

    &--raised {
        color: var(--color-red-100);
        background-image: linear-gradient(0deg, var(--color-red-700), var(--color-red-900));
    }
    &--raised &__image {
        border-bottom: 1px solid var(--color-red-900);
    }
    &--raised &__title {
        color: var(--color-red-50);
    }
    &--raised &__footer {
        color: var(--color-red-50);
        border-top: 1px solid var(--color-red-900);
    }

	&__title {
		margin-bottom: 0 !important;
		padding: 1rem 1rem 0 1rem;
		color: var(--color-50);
        font-weight: 500;
	}

	&__body {
		margin: 0;
		font-size: var(--fs-400);
        line-height: 1.5;
		padding: 1rem;
		flex:1;
	}

    &__image {
        border-radius: .5rem .5rem 0 0;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        background-color: var(--color-950);
        overflow: hidden;
        border-bottom: 1px solid var(--color-900);

        @media(max-width: 750px) {
            aspect-ratio: 3 / 2;
        }
    }

	&:hover,
	&:focus {
        box-shadow: var(--shadow-focus);
        * {
            color: var(--color-50) !important;
        }
        .card__info--status {
            color: var(--color-black) !important;
        }
	}

    &__footer {
        display: flex;
        flex-wrap: wrap;
        gap: .125rem 1rem;
        border-top: 1px solid var(--color-900);
        color: var(--color-200);
        padding: .75rem 1rem;
        overflow: hidden;
        font-family: var(--ff-heading);
    }

    &__premium {
        background: var(--color-950);
        display: flex;
        justify-content: flex-end;
        padding: .5rem;

        img {
            width: 45%;
            height: auto;
        }
    }
}

/**
 * Footer Info Section
 */

.card__info {
    flex: 1 0 auto;
    display: flex;
    gap: .25rem;
    align-items: center;
    line-height: 1;
    white-space: nowrap;
    font-size: var(--fs-100);
    padding: 0;

    &--hits {
        font-size: var(--fs-300);
        justify-content: flex-end;
    }

    &--popular {
        font-size: var(--fs-300);
        color: var(--color-red-50);
        display: flex;
        align-items: center;
        background: var(--color-red-300);
        border-radius: .25rem;
        font-family: var(--ff-heading);
        padding: .25rem .5rem;

    }
}

/**
 * Popular Posts
 */

.popular-posts {
    counter-reset: count_post;
}

.popular-posts > a.card {
    counter-increment: count_post;
}

.popular-posts a.card::after {
    content: counter(count_post,decimal-leading-zero);
    position: absolute;
    top: .5rem;
    left: 0;
    z-index: 5;
    font-weight: bold;
    font-family: var(--ff-heading);
    font-size: 2rem;
    padding: .5rem 1rem .5rem .5rem;
    line-height: 1;
    background: var(--color-900);
    color: var(--color-a200);
    border-top-right-radius: 100% 135px;
	border-bottom-right-radius: 100% 10px;
}

.popular-posts a.card--raised::after {
    color: var(--color-red-500);
    background: var(--color-950);
}

/**
 * Nano Card
 */

.nano-card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    text-decoration: none !important;
    color: var(--color-100);
    isolation: isolate;
    border-radius: .5rem;
    overflow: hidden;

    &__photo {
        // grid-area: <row start> / <column start> / <row end> / <column end>;
        grid-area: 1 / 1 / 3 / 6;
        z-index: 1;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;

    }

    &__title {
        grid-area: 1 / 5 / 2 / -1;
        z-index: 2;
        padding: 1rem;
        border-bottom-left-radius: .5rem;
        background: var(--color-800);
    }

    &--alt &__title {
        color: var(--color-blue-100);
        background: var(--color-blue-950);
    }

    &__count {
        grid-area: 2 / 6 / 3 / -1;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-weight: 800;
        font-size: var(--fs-600);
        background: var(--color-600);
        background-image: linear-gradient(0deg, var(--color-400), var(--color-600));
        padding: 0 .65rem;
        color: var(--color-800);
        letter-spacing: -1px;
    }

    &--alt &__count {
        color: var(--color-blue-900);
        background-image: linear-gradient(0deg, var(--color-blue-400), var(--color-blue-600));
    }

    &:hover,
	&:focus {
        box-shadow: var(--shadow-focus);
        * {
            color: var(--color-50) !important;
        }
        .trending__count {
            background: var(--color-blue-400);
        }
	}
}

.nano-card-more {
    position: absolute;
    right: 5vw;
    bottom: 0;
    transform: translateY(100%);

    @media(max-width: 750px) {
        transform: translateY(60%);
    }
}