/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Draggable ] ⎯⎯⎯⎯⎯⎯
 */

/**
 * Draglist
 */

.draglist {
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid transparent;

    &__item {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: .5rem;
        line-height: 1;
        background: var(--color-800);
        color: var(--color-100);
        border-radius: .25rem;
        cursor: move;
        box-shadow: var(--shadow), inset 0 -3px 0 0 rgba(255,255,255,.1);

        &:not(:last-child) {
            margin-bottom: .65rem;
        }

        .svg-icon {
            opacity: .65;
        }
    }

    &__dragging {
        background: var(--color-blue-600);
        color: var(--color-blue-50);
    }

    &--saved {
        border-color: var(--color-green-300);
    }
}