/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Navbars & Menus ] ⎯⎯⎯⎯⎯⎯
 */

@use '../abstracts/mixins' as m;

/**
 * Main Navigation
 */

.navbar {
	position:fixed;
	top:0;
	left:0;
	right:0;
	display: flex;
	height: var(--navbar-height);
	z-index: 900;
    background: #11171c;
	font-size: 1rem;
	line-height: 1;

    &__container {
        display: flex;
        .svg-icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &__item {
        display: flex;
        align-items:center;
        justify-content:center;
        color: var(--color-100);
        text-decoration: none !important;
        padding: 0 1rem;
        &:hover,
        &.active {
            background: var(--color-900);
            color:var(--color-50);
        }

        &:has(.svg-icon) {
            padding: 0 .65rem;
        }
    }

    &__logo {
        @include m.mq(small) {
            .navbar__item {
                padding: 0 .5rem;
            }
        }
    }

    &__left,
    &__right {
        flex:1;
    }

    &__right {
        justify-content: flex-end;
    }

    &__toggle {
        width: 2.75rem;
    }

    &__hamburger,
    &__meatballs {
        width: 2.75rem;
        height: var(--navbar-height);
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
    }

    &__sidebar-left,
    &__sidebar-right {
        position: fixed;
        top: var(--navbar-height);
        height: calc(100vh - var(--navbar-height));
        width: var(--sidebar-width);
        max-width: 100%;
        background: var(--color-900);
        padding: .75rem;
        display: none;

        &.show {
            display: flex;
            animation: animate-sidebars forwards 250ms ease-in-out;
        }
        @include m.mq(small) {
            width: 100%;
        }
    }

    &__sidebar-left {
        left:0;
        z-index: 800;
        transform: translateX(-100%);
        flex-direction:column;
    }

    &__sidebar-right {
        right:0;
        z-index: 801;
        transform: translateX(100%);
        flex-direction:column;
    }
}

@keyframes animate-sidebars {
    100% {
        transform: translateX(0);
    }
}

/**
* Hamburger
*/
.navbar {

    &__hamburger-wrapper {
        display: block;
        width: 2rem;
        height: 2rem;
        position: relative;
    }

    &__hamburger-inner,
    &__hamburger-inner::before,
    &__hamburger-inner::after {
        display: block;
        background: var(--color-100);
        width: 1.5rem;
        height: 2px;
        border-radius: 1px;
        position: absolute;
        left:0;
        transition: transform 250ms ease, top 250ms ease, bottom 250ms ease, width 250ms ease;
    }

    &__hamburger-inner {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &::before,
        &::after {
            content: '';
        }
        &::before {
            top: -.5rem;
        }
        &::after {
            bottom: -.5rem;
        }
    }

    &__hamburger.active &__hamburger-inner {
        width: 2px;
        &::before {
            transform: translateX(calc(-50% + 1px)) rotate(45deg);
            top: 0;
        }
        &::after {
            bottom: 0;
            transform: translateX(calc(-50% + 1px)) rotate(-45deg);;
        }
    }
}

/**
 * Meatballs
 */

.navbar {
    &__meatballs-wrapper {
        display: block;
        width: 2rem;
        height: 2rem;
        position: relative;
    }

    &__meatballs-inner,
    &__meatballs-inner::before,
    &__meatballs-inner::after {
        display: block;
        background: var(--color-100);
        width: 4px;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        left:0;
        transition: transform 250ms ease, top 250ms ease, bottom 250ms ease, left 250ms ease,width 250ms ease;
    }

    &__meatballs-inner {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &::before,
        &::after {
            content: '';
        }
        &::before {
            top: -.5rem;
        }
        &::after {
            bottom: -.5rem;
        }
    }

    &__meatballs.active &__meatballs-inner {
        &::before,
        &::after {
            width: 1.5rem;
            left: calc(-.5rem - 2px);
        }
        &::before {
            top: 0;
            transform: rotate(45deg);
        }
        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }
    }
}

/**
 * Limited List of Items
 */

.sidebar-scroller {
    display: contents;

    @include m.mq(small) {
        display: block;
        height: 100%;
        overflow-y: auto;
    }
}

.nav-list-limited {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 3rem;
}

.nav-list-limited > a {
    width: 100%;
}

@include m.mq(large) {
    .nav-list-limited {
        margin-bottom: 10rem;
    }
}

/**
 * Dropdowns
 */

.dropdown {
    position: relative;
    display: flex;

    &__body {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform: translateY(100%);
        background: var(--color-700);
        border-radius: 0 0 .25rem .25rem;
        box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.65), var(--shadow-below);
        display: none;

        @include m.mq(small) {
            position: fixed;
            transform: none;
            top: var(--navbar-height);
            bottom: auto;
            left: .5rem !important;
            right: .5rem !important;
        }
    }

    &__body--dropright {
        left: auto;
        right: 0;
    }

    &__body--fluid {
        position: fixed;
        transform: none;
        left: 1rem;
        right: 1rem;
        top: var(--navbar-height);
        bottom: auto;
        background-image: linear-gradient(to bottom right, var(--color-700), var(--color-800));
    }

    &__toggle {
        gap: .25rem;
        padding-right: .5rem;
    }

    &__toggle::after {
        width: 0;
        height: 0;
        content: "";
        border-top: .3rem solid;
        border-right: .3rem solid transparent;
        border-bottom: 0;
        border-left: .3rem solid transparent;
        margin-left: .125rem;
    }

    &--show {
        .dropdown__body {
            display: block;
        }
        .dropdown__toggle {
            background: var(--color-900);
            color:var(--color-50);
        }
    }

    &__item {
        white-space: nowrap;
        padding: .5rem 1.25rem;
        text-decoration: none !important;
        color: var(--color-100);
        font-weight: 400;
        font-size: var(--fs-300);
        line-height: 1.45;

        @include m.mq(small) {
            padding: .5rem 1rem;
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--color-900);
        }

        &:hover,
        &.active {
            background: var(--color-600);
            color: var(--color-50);

            &.dropdown__item--count span:nth-child(2) {
                background: var(--color-a400);
                color: var(--color-white);
            }
        }
    }

    &__item--count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        line-height: 1;

        span:nth-child(2) {
            background: var(--color-800);
            color: var(--color-200);
            font-size: .8rem;
            font-weight: 500;
            padding: .25rem .5rem;
            border-radius: 9999px;
        }
    }
}

/**
 * Transparent Navigation
 */

.nav-glass {
    box-shadow: none;
    background: transparent;
    border-color: transparent;
    backdrop-filter: none;
}