/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Panels ] ⎯⎯⎯⎯⎯⎯
 */

@use '../abstracts/mixins' as m;

.panel {
    border-radius: .5rem;
    box-shadow: var(--shadow);

    &__header {
        display: flex;
        align-items: center;
        gap: .5rem;
        flex-wrap: wrap;
        border-bottom: 1px solid transparent;
        padding: 1rem;
        position: relative;
        transition: border-color 350ms ease-in-out;

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 0;
            line-height: 1;

            &:has(.svg-icon) {
                display: flex;
                align-items: center;
                gap: .25em;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__body {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 350ms ease-in-out;
    }

    &__content {
        overflow: hidden;
    }

    &__toggle {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding: 0 1rem;
        display: flex;
        align-items: center;
    }

    &__toggle svg {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-400);
        transition: transform 350ms ease-in-out;
    }

    &--open &__body {
        grid-template-rows: 1fr;
    }
    &--open &__toggle svg {
        transform: rotate(-180deg);
    }
    &--open &__header {
        border-color: rgba(0,0,0,.25);
    }
    &--toolbox {
        box-shadow: none;
    }
    &--toolbox.panel--open &__header {
        border-color: rgba(255,255,255,.15);
    }
}
