/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Tabs ] ⎯⎯⎯⎯⎯⎯
 */

@use '../abstracts/mixins' as m;

.tabs {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgba(255,255,255,.15);
        position: relative;
    }

    &__line {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 50px;
        background: var(--color-a200);
        transform: translateY(3px);
        border-radius: 3px;
        transition: all .3s ease-in-out;
    }

    &__button {
        line-height: 1.25;
        padding: .75rem 1rem;
        color: var(--color-200);
        font-size: var(--fs-500);
        font-weight: 500;

        &:hover,
        &.active {
            color: var(--color-white);
        }

        @include m.mq(small) {
            font-size: var(--fs-200);
            padding: .75rem .25rem;
        }
    }

    &__body {
        padding: 1.5rem;

        @include m.mq(small) {
            padding: 1.5rem 0;
        }
    }

    &__content {
        display: none;
        animation: tabs_moving .5s ease;

        &.active {
            display: block;
        }
    }
}

/**
 * Variations
 */

.tabs--toolbox {
    .tabs__body {
        padding: 1rem 0;
    }

    .tabs__button {
        font-family: var(--ff-heading);
        font-size: var(--fs-300);
        font-weight: 500;
    }
}

@keyframes tabs_moving {
    from {
        transform: translateX(2rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/**
 * Vertical Tabs
 */

.tabs-vertical {
    display: grid;
    grid-template-columns: fit-content(200px) 1fr;
    gap: 2rem;
    align-items: start;

    @include m.mq(small) {
        grid-template-columns: 1fr;
    }

    &__header {
        display: flex;
        flex-direction: column;
        border-left: 2px solid rgba(255,255,255,.08);
        position: relative;
    }

    &__line {
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        width: 4px;
        background: var(--color-a200);
        transform: translateX(-3px);
        border-radius: 3px;
        transition: all .3s ease-in-out;
    }

    &__button {
        line-height: 1.25 !important;
        padding: .75rem 1.5rem;
        color: var(--color-200);
        font-size: var(--fs-300);
        text-align: left;
        font-family: var(--ff-heading);
        white-space: nowrap;

        &:hover,
        &.active {
            color: var(--color-a200);
            background-color: rgba(0,0,0,.35);
        }

        @include m.mq(small) {
            padding: .375rem 1.5rem;
        }
    }

    &__content {
        display: none;
        animation: tabs_moving_vertical .5s ease;

        &.active {
            display: block;
        }
    }
}

@keyframes tabs_moving_vertical {
    from {
        transform: translateY(2rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}