/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * Version : 2023
 * Author  : Tom Papatolis
 * ◌⎯⎯⎯⎯⎯⎯◖ Theme Toggle ◗⎯⎯⎯⎯⎯⎯◌
 */
@use '../abstracts/mixins' as m;

.theme-toggle {
	display: inline-block;
	cursor: pointer;

    &__input {
        display: none;
    }

    &__switch {
        position: relative;
        width: 4rem;
        height: 2rem;
        border-radius: 1rem;
        background-color: var(--color-800);
        transition: background-color 0.2s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 .375rem;
    }

    &__input:checked ~ &__switch {
        background-color: #f6c307;
    }

    &__switch::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 2rem;
        width: 2rem;
        background: var(--color-50);
        box-shadow: var(--shadow-around);
        border-radius: 1rem;
        transition: transform 0.2s;
    }

    &__sun,
    &__moon {
        width: 1.5rem !important;
        height: 1.5rem !important;
        fill: var(--color-50);
    }

    &__sun {
        fill: #fff;
    }

    &__input:checked ~ &__switch::after {
        transform: translateX(2rem);
    }
}