/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Toasts ] ⎯⎯⎯⎯⎯⎯
 */

@use '../abstracts/mixins' as m;

.toast {
    position: fixed;
    top: calc(var(--navbar-height) + 3rem);
    right: 1rem;
    background: rgba(255,255,255,.85);
    backdrop-filter: blur(8px);
    border-radius: .5rem;
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    max-width: 30vw;
    border-left: .375rem solid currentColor;
    transform: translateX(calc(100% + 1rem));
    animation: toast-bounceRight 1s 1s forwards ease, toast-vanish .5s 10s forwards ease-in;

    @include m.mq(small) {
        max-width: 90vw;
    }

    &__icon {
        grid-row: span 2;
        padding: 1rem .5rem;
        line-height: 1;
        svg {
            width:  3rem;
            height: 3rem;
        }
    }

    &__header {
        color: var(--color-950);
        :where(h1, h2, h3, h4, h5, h6) {
            margin-bottom: 0;
            padding: 1rem 1rem 0 0;
            line-height: 1;
        }
    }

    &__body {
        color: var(--color-950);
        padding: .25rem 1rem 1rem 0;
        line-height: 1.1;
        :where(p) {
            margin-bottom: 0;
            font-size: var(--fs-200);
            line-height: 1.25;
        }
    }
}

@keyframes toast-bounceRight {
    0% {
        transform: translateX(calc(100% + 1rem));
    }
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    40% {
      -webkit-transform: translateX(-2rem);
      transform: translateX(-2rem);
    }
    60% {
      -webkit-transform: translateX(-1rem);
      transform: translateX(-1rem);
    }
  }

@keyframes toast-vanish {
    0% {
        transform: translateX(0);
    }

    60% {
        transform: translateX(-2rem);
    }

    100% {
        transform: translateX(calc(100% + 1rem));
    }
}