/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Body ] ⎯⎯⎯⎯⎯⎯
 */

body {
    padding-top: var(--navbar-height);
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    line-height: var(--line-height);
    color: var(--text-color);
    background-color: var(--bg-color);
}