/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Typography ] ⎯⎯⎯⎯⎯⎯
 */

@use 'sass:map';
@use '../abstracts/typography' as t;
@use '../abstracts/mixins' as m;

/**
 * Headings
 */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: var(--ff-heading);
    line-height: 1.25;
    margin-bottom: 1.25ex;
    font-weight: bold;
}

h1, .h1 {
    font-size: var(--fs-800);
    font-weight: 700;
}
h2, .h2 {
    font-size: var(--fs-700);
    font-weight: 700;
}
h3, .h3 {
    font-size: var(--fs-600);
    font-weight: 600;
}
h4, .h4 {
    font-size: var(--fs-500);
    font-weight: 500;
}
h5, .h5 {
    font-size: var(--fs-400);
    font-weight: 500;
}
h6, .h6 {
    font-size: var(--fs-300);
    font-weight: 500;
}

/**
 * Sleek Heading
 */

h1, h2, h3, h4, h5, h6 {
    &.sleek-heading {
        display: flex;
        align-items: center;
        gap: .375rem;
        margin-bottom: 0;

        svg {
            color: var(--color-a200);
            font-size: 1.25em;
        }

        &::after {
            content: '';
            height: 1px;
            flex: 1 1 0;
            background:  rgba(255,255,255,.15);
        }
    }
}

/**
 * Font Size Variables for Small Displays
 */

@include m.mq(small) {
    :root {
        @each $key, $size in map.get(t.$type-scale, small) {
            --fs-#{$key}: #{$size};
        }
    }
}

/**
 * Paragraphs
 */

p {
    font-size: var(--fs-400);
    line-height: var(--line-height);
    margin-bottom: 3ex;
}

.p-no-margin > p {
    margin-bottom: 0 !important;
}

.last-p-m0 p:last-child {
    margin-bottom:0 !important;
}

/**
 * Lists
 */

ol,
ul,
dl {
    margin: 1em 0 2em 0;
    padding: 0 0 0 2.5em;

    @include m.mq(small) {
        padding: 0 0 0 1.5em;
    }
}

li {
    margin-bottom: .5em;
    line-height: 1.5em;

    @include m.mq(small) {
        margin-bottom: .375em;

    }
}

ul li::marker {
    color: var(--color-orange-400);
}

ol li::marker {
    color: var(--color-blue-300);
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

/**
 * Clear Lists
 */

ul.strip {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

/**
 * Blockquote
 */

blockquote {
	border-left: 5px solid var(--color-a400) !important;
	padding: 1.5rem;
	font-style: italic;
    color: var(--color-200);
	background: var(--color-950);
	border-radius: .5rem;
	margin: 2rem 0;
    font-size: var(--fs-300);

	p {
        font-size: var(--fs-300);
	}

	p:last-child {
		margin-bottom:0 !important;
	}
}

/**
 * Raw HTML Embed for CKEditor
 */

.raw-html-embed:not(.ck-widget),
.raw-html-embed:not(.ck-widget) iframe {
    aspect-ratio: 16 / 9;
	width: 100%;
    height: auto;
    overflow: hidden;
}

/**
 * Source Code
 */

.code {
    position: relative;
    margin-bottom: 1.5rem;

    pre {
        white-space: pre-wrap;
        overflow-x: auto;
        font-size: var(--fs-100);
        line-height: 1.25;
        padding: 1rem;
        color: #fff;
        tab-size: 4;
        font-weight: 400;
        background-color: #0d1117;
        border-radius: .25rem;
    }

    pre::-webkit-scrollbar {
        height: .75rem;
        width:  .75rem;
        background-color: #0d1117;
    }
    pre::-webkit-scrollbar-thumb:horizontal {
        background-color: var(--color-800);
        border-radius: 9999px;
    }

    code {
        font-family: var(--ff-monospace);
    }

    .cl0 {color: rgb(139, 148, 158);} // Comments
    .cl1 {color: rgb(126, 231, 135);}
    .cl2 {color: rgb(121, 192, 255);}
    .cl3 {color: rgb(255, 123, 114);}
    .cl4 {color: rgb(255, 166, 87);}
    .cl5 {color: rgb(201, 209, 217);}

    &-copy {
        position: absolute;
        top: .25rem;
        right: .25rem;
    }

    &-copy.btn {
        display: none;
    }

    &:hover &-copy.btn {
        display: inline-flex;
    }
}
