/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Colors ] ⎯⎯⎯⎯⎯⎯
 */

/**
 * Basic (:root) Arrays
 */

// HSL Values of Gray Colors
$shade_builder: (
    '50'  5  11% 97%,
   '100'  3   3% 91%,
   '200' -1   4% 82%,
   '300'  0   1% 65%,
   '400'  0   2% 53%,
   '500'  0   0% 43%,
   '600' -2   2% 37%,
   '700' -2   6% 30%,
   '800' -2   8% 25%,
   '900' -1  12% 16%,
   '950' -1  16% 10%,
  'a100'  1 100% 81%,
  'a200'  1 100% 71%,
  'a400'  2 100% 61%,
  'a700'  2 100% 56%
);

// Array of base HSL Values in order to calculate all colors
$color_builder: (
    '50'  5  11% 97%,
   '100'  3   3% 91%,
   '200' -1   4% 82%,
   '300'  0   1% 65%,
   '400'  0   2% 53%,
   '500'  0   0% 43%,
   '600' -2   2% 37%,
   '700' -2   6% 30%,
   '800' -2   8% 25%,
   '900' -1  12% 16%,
   '950' -1   8% 10%
);

$gray_hue:    211;
$gray_sat:    12%;

/**
 * Colors
 * Gray: Basis is 500: #616E7C | hsl(211, 12%, 43%)
 * Generator: https://color.adobe.com/create/
 * Red:   Basis:  #ff4938 | hsl(5, 100%, 61%); | A700 ->color-wheel -> Triad
 * Green: Basis:  #95b00c | hsl(70, 87%, 37%)  | A700 ->color-wheel -> Triad
 * Blue:  Basis:  #0453b4 | hsl(213, 96%, 36%) | A700 ->color-wheel -> Triad
 * Orange: Basis: #FF7C2B | hsl(23, 100%, 58%) | A700 -> Split Complementary
 */

$red_hue:       5;
$red_sat:    100%;

$orange_hue:   23;
$orange_sat: 100%;

$green_hue:    70;
$green_sat:   87%;

$blue_hue:    213;
$blue_sat:    96%;

/**
 * Color Sets
 */

$shades_ext: ('50','100','200','300','400','500','600','700','800','900','950','a100','a200','a400','a700');
$shades: ('50','100','200','300','400','500','600','700','800','900','950');
$colors: ('red','orange','green','blue');

// Gray Color Set: Background | Forecolor
$set_grayscale_matrix: (
     50 900,
    100 900,
    200 900,
    300 900,
    400 100,
    500 200,
    600 200,
    700 200,
    800 200,
    900 200,
    950 300
);

// Red Color Set: Background | Forecolor
$set_red_matrix: (
     50 900,
    100 900,
    200 900,
    300  50,
    400 100,
    500 100,
    600 200,
    700 200,
    800 200,
    900 200,
    950 300
);

// Orange Color Set: Background | Forecolor
$set_orange_matrix: (
     50 900,
    100 900,
    200 900,
    300 900,
    400 100,
    500 100,
    600 200,
    700 200,
    800 200,
    900 300,
    950 400
);

// Green Color Set: Background | Forecolor
$set_green_matrix: (
     50 900,
    100 900,
    200 900,
    300 900,
    400 900,
    500  50,
    600 100,
    700 100,
    800 200,
    900 300,
    950 300
);

// Blue Color Set: Background | Forecolor
$set_blue_matrix: (
     50 900,
    100 900,
    200 900,
    300 900,
    400 100,
    500 100,
    600 100,
    700 200,
    800 200,
    900 300,
    950 300
);

/**
 * Button Colors
 * $background | $color | $hover_background | $hover_color
 */

$gray_buttons: (
    50 900 300 950,
   100 900 400 100,
   200 900 500 100,
   300  50 600 100,
   400 100 700 200,
   500 100 800 200,
   600 100 900 200,
   700 100 500  50,
   800 100 600  50,
   900 200 700 100,
   950 200 700 100
);

$red_buttons: (
     50 900 300 900,
    100 900 400 100,
    200 900 500 100,
    300  50 600 100,
    400  50 700 200,
    500 100 800 200,
    600 100 900 200,
    700 100 500  50,
    800 200 600 100,
    900 200 700 100,
    950 200 700 100
);

$orange_buttons: (
     50 900 300 900,
    100 900 400 100,
    200 900 500 100,
    300  50 600 100,
    400  50 700 100,
    500 100 800 100,
    600 100 900 100,
    700 100 500  50,
    800 200 600 100,
    900 200 700 100,
    950 200 700 100
);

$green_buttons: (
     50 900 300 900,
    100 900 400 900,
    200 900 500  50,
    300 900 600 100,
    400 900 700 200,
    500 900 800 100,
    600  50 900 200,
    700 100 900 200,
    800 200 600  50,
    900 200 700 100,
    950 200 700 100
);

$blue_buttons: (
     50 900 300 900,
    100 900 400 100,
    200 900 500 100,
    300  50 600 100,
    400  50 700 100,
    500 100 800 100,
    600 100 900 100,
    700 100 500  50,
    800 200 600 100,
    900 200 700 100,
    950 200 700 100
);
