/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Sizes ] ⎯⎯⎯⎯⎯⎯
 */

/**
 * Containers
 */

$container_sizes: (
    'xxs' : 250px,
     'xs' : 450px,
     'sm' : 750px,
     'md' : 800px,
      'd' : 890px, // default
     'lg' : 990px,
     'xl' : 1200px,
    '2xl' : 1450px,
    '3xl' : 1680px
);

/**
 * Grid & Flex Column Sizes
 */

$grid_col_sizes: (
	"50"  :  50,
	"80"  :  80,
	"100" : 100,
	"120" : 120,
	"150" : 150,
	"175" : 175,
	"200" : 200,
	"225" : 225,
	"250" : 250,
	"300" : 300,
	"320" : 320,
	"350" : 350,
	"400" : 400,
    "450" : 450
);

/**
 * Gaps
 */

$gaps: (
    "0125" : .125,
	"025"  : .25,
	"0375" : .375,
	"05"   : .5,
    "065"  : .65,
	"075"  : .75,
	"1"    : 1,
    "15"   : 1.5,
	"2"    : 2,
	"3"    : 3
);

/**
 * Special Margins & Paddings
 */

$mp_special_sizes: (
    "0125"	: .125,
	"025"   : .25,
	"0375"  : .375,
	"045"   : .45,
	"05"    : .5,
	"065"   : .65,
	"075" 	: .75,
    "15" 	: 1.5
);