/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Margins ] ⎯⎯⎯⎯⎯⎯
 */

@use 'sass:map';
@use '../abstracts/sizes' as s;
@use '../abstracts/mixins' as m;

/**
 * Margins
 * --- Values: 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
 */

@for $i from 0 through 14 {
    .m-#{$i} {
        margin: $i + rem;
    }
    .mt-#{$i} {
        margin-top: $i + rem !important;
	}
    .mr-#{$i} {
        margin-right: $i + rem !important;
    }
	.mb-#{$i} {
        margin-bottom: $i + rem !important;
	}
	.ml-#{$i} {
        margin-left: $i + rem !important;
	}
}

/**
 * Special Margins
 * --- Values: 0125,025,0375,045,05,065,075,15
 */

@each $size, $value in s.$mp_special_sizes {
    .m-#{$size} {
        margin: $value + rem !important;
    }
    .mt-#{$size} {
        margin-top: $value + rem !important;
    }
    .mr-#{$size} {
        margin-right: $value + rem !important;
    }
    .mb-#{$size} {
        margin-bottom: $value + rem !important;
    }
    .ml-#{$size} {
        margin-left: $value + rem !important;
    }
}

/**
 * Margins for Small Displays
 * --- Values: 0,1,2,3,4,5
 */

@include m.mq(small) {
    @for $i from 0 through 5 {
        .m-sm-#{$i} {
            margin: $i + rem !important;
        }
        .mt-sm-#{$i} {
            margin-top: $i + rem !important;
        }
        .mb-sm-#{$i} {
            margin-bottom: $i + rem !important;
        }
        .ml-sm-#{$i} {
            margin-left: $i + rem !important;
        }
        .mr-sm-#{$i} {
            margin-right: $i + rem !important;
        }
    }
}

/**
 * Helpers
 */

.mr-auto {
    margin-right: auto;
}