/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Colors ] ⎯⎯⎯⎯⎯⎯
 */

@use '../abstracts/mixins' as m;
@use '../abstracts/colors' as c;

/**
 * Foreground and Background Colors
 * --- Values: 50,100,200,300,400,500,600,700,800,900,950,white,black
 */

@each $shade in c.$shades_ext {
	.color-#{$shade} {
		color: var(--color-#{$shade}) !important;
	}

	.bg-#{$shade} {
		background-color: var(--color-#{$shade}) !important;
	}
}

@each $color in c.$colors {
    @each $shade in c.$shades {
        .color-#{$color}-#{$shade} {
            color: var(--color-#{$color}-#{$shade}) !important;
        }

        .bg-#{$color}-#{$shade} {
            background-color: var(--color-#{$color}-#{$shade}) !important;
        }
    }
}

.color-white {
    color: var(--color-white) !important;
}
.color-black {
    color: var(--color-black) !important;
}
.bg-white {
    background-color: var(--color-white) !important;
}
.bg-black {
    background-color: var(--color-black) !important;
}

/**
 * Color Sets
 * --- Values: 50,100,200,300,400,500,600,700,800,900,950
 */

@each $bg, $color in c.$set_grayscale_matrix {
    .set-#{$bg} {
        color: var(--color-#{$color}) !important;
        background-color: var(--color-#{$bg}) !important;
    }
}

@each $bg, $color in c.$set_red_matrix {
    .set-red-#{$bg} {
        color: var(--color-red-#{$color}) !important;
        background-color: var(--color-red-#{$bg}) !important;
    }
}

@each $bg, $color in c.$set_orange_matrix {
    .set-orange-#{$bg} {
        color: var(--color-orange-#{$color}) !important;
        background-color: var(--color-orange-#{$bg}) !important;
    }
}

@each $bg, $color in c.$set_green_matrix {
    .set-green-#{$bg} {
        color: var(--color-green-#{$color}) !important;
        background-color: var(--color-green-#{$bg}) !important;
    }
}

@each $bg, $color in c.$set_blue_matrix {
    .set-blue-#{$bg} {
        color: var(--color-blue-#{$color}) !important;
        background-color: var(--color-blue-#{$bg}) !important;
    }
}

/**
 * Helpers
 */

.bg-dark-glass {
    background-color: rgba(0,0,0,.15);
}