/**
 * Vernetic Framework
 * Website : https://vernetic.io
 * GitHub: https://github.com/tompapatolis/vernetic
 * Version : 2024
 * Author  : Tom Papatolis
 * ⎯⎯⎯⎯⎯⎯[ Helpers ] ⎯⎯⎯⎯⎯⎯
 */

@use '../abstracts/mixins' as m;

/**
 * Events
 */

.disabled {
    pointer-events: none;
    opacity: .3;
}
.no-select {
	user-select: none;
}
.no-events {
	pointer-events: none;
}

/**
 * Hiding
 */

.hidden {
	display:none !important;
}

// Hide for Large and smaller
@include m.mq(large) {
    .hide-lg  {display:none !important;}
}

// Hide for Medium and smaller
@include m.mq(medium) {
    .hide-md  {display:none !important;}
}

// Hide for Small and smaller
@include m.mq(small) {
	.hide-sm {display:none !important;}
}

// Hide for larger than large
@include m.mqm(large) {
	.hide-llg {display:none !important;}
}

// Hide for larger than medium
@include m.mqm(medium) {
	.hide-lmd {display:none !important;}
}

// Hide for larger than small
@include m.mqm(small) {
	.hide-lsm {display:none !important;}
}

.invisible {
    visibility: hidden;
    pointer-events: none;
}

/**
 * Display
 */

.display-block {
    display: block;
}

.display-contents {
    display: contents;
}

/**
 * Shadow
 */

.shadow {
    box-shadow: var(--shadow);
}

/**
 * Border Radius
 */

.br-0125 {
    border-radius: .125rem;
}
.br-025 {
    border-radius: .25rem;
}
.br-0375 {
    border-radius: .375rem;
}
.br-05 {
    border-radius: .5rem;
}
.br-065 {
    border-radius: .65rem;
}
.br-075 {
    border-radius: .5rem;
}
.br-1 {
    border-radius: 1rem;
}
.br-pill {
    border-radius: 9999px;
}

/**
 * SVG Icon
 * --- Values: md,lg,xl,2x,3x,4x,5x,6x,7x,8x,9x,10x
 */

.svg-icon {
    width: 1em;
    height: 1em;
    fill: currentcolor;
}

.svg-icon.svg-icon-md {
    width: 1.375em;
    height: 1.375em;
}

.svg-icon.svg-icon-lg {
    width: 1.5em;
    height: 1.5em;
}

.svg-icon.svg-icon-xl {
    width: 1.75em;
    height: 1.75em;
}

@for $i from 2 through 10 {
    .svg-icon.svg-icon-#{$i}x {
        width: $i + em;
        height: $i + em;
	}
}

/**
 * Overlay
 */

.overlay  {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	visibility: hidden;
	opacity: 0;
	transition: opacity 250ms linear;

	&.show {
		visibility: visible;
		opacity: 1;
	}
}

/**
 * Position
 */

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

/**
 * Thumbnail
 */

.thumb {
    border-radius: .5rem;
    box-shadow: var(--shadow-soft);
    border: 3px solid var(--color-600);
}

/**
 * Perspective
 */

.pers-1 {
    transform: perspective(400px) rotateY(15deg) translateX(0.5vw);

    @media(max-width: 750px) {
        transform: none;
    }
}

